<!-- <p id="notice"><%= notice %></p> -->
<br>
<div class="push_left">
  <div class="page_label">
    <h1> SHOP ON CONGO </H1>
    </div>
    <% @products.each do |product| %>
    <% if product.images.count >= 1 %>
    <div class="product_display">
      <!-- <div style="width:150px; height:150px; margin: auto"> -->
        <img style=" max-height:100px" src="<%= product.images.first.url%>" alt="product image">
      <!-- </div> -->
      <p><%= link_to "#{product.name.capitalize}", product%></p>
      <p>$<%= product.formatted_price %></p>
    </div>
    <% end %>
    <% end %>


    <div class="link">
      <br>
      <%= link_to 'New Product', new_product_path, class: "btn btn-default button" %>
      <br>
    </div>
  </div>
  <div class = "cart">
    <h3>Your Cart</h3>
    <% current_user.cart.each do |product| %>
    <p><%= product.name.capitalize %> -  $<%= product.formatted_price %></p>
    <%end%>
    <h2>$<%= current_user.sum %></h2>

  </div>
