<p id="notice"><%= notice %></p>
  <br>
  <% @products.each do |product| %>
  <div class="product_display">
    <% product.images.each do |image|%>
    <img style="width:30%" src="<%=image.url %>" alt="product image">
    <%end%>
    <p><%= link_to "#{product.name.capitalize}", product%></p>
    <p>$<%= product.formatted_price %></p>
  </div>
  <% end %>
  <div class="link">
    <br>
    <%= link_to 'New Product', new_product_path, class: "btn btn-default button" %>
    <br>
  </div>
</div>
