<p id="notice"><%= notice %></p>


<div class="push_left">
  <div class = "page_label">
    <h3>All Products</h3>
  </div>
  <br>
  <% @products.each do |product| %>
  <div class="product_display">
    <% product.images.each do |image|%>
    <img style="width:30%" src="<%=image.url %>" alt="product image">
    <%end%>
    <p><%= link_to "#{product.name.capitalize}", product%></p>
    <p>$<%= product.formatted_price %></p>
    <p><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-default" %></p>
  </div>
  <% end %>
  <div class="link">
    <br>
    <%= link_to 'New Product', new_product_path, class: "btn btn-default button" %>
    <br>
  </div>
</div>
