<p id="notice"><%= notice %></p>


<div class= "container">
<div class="row">
  <div class="col-md-12 col-sm-12">
    <p>
      <h2><%= @product.name.capitalize %></h2>
    </p>
  </div>
  </div>
  <div class="row">
 <div class="col-md-5">
    <% @product.images.each do |image| %>
    <img class="img-responsive" src="<%=image.url %>" alt="product image">
    <% end%>
    </div>
    <div class="col-md-3 col-sm-12">
    <p>
      <strong>Price:</strong>
      $<%= @product.formatted_price %>
    </p>
  </div>
  <div class="col-md-5">
  <button type="button" class="btn btn-lg btn-success">Buy Now&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
  </div>
   <div class="col-md-5">
    <br>
  <button type="button" class="btn btn-lg btn-primary">Add To Wish List</button>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12 col-sm-12">
  <br>
    <p>
      <strong>Description:</strong>
      <%= @product.description.capitalize %>
    </p>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6 col-sm-12">
    <h3>Reviews <i class="fa fa-comments-o"></i></h3>

    <% @product.reviews.each do |review| %>
    <p class="review-font">
      <%=review.comment %>
      <br>
      Added <%= time_ago_in_words(review.created_at) %> ago.
    </p>
    <% end %>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6 col-sm-12 col-sm-5 jumbotron">
    <h3 class="">New Review</h3>
    <%= render 'reviews/form' %>
  </div>
</div>
</div>


<div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
  <%= link_to 'Products', products_path, class: "btn btn-default" %>
</div>
