<p id="notice"><%= notice %></p>


<div class= "container">

  <div class="col-md-6 col-md-offset-1 col-sm-12">
    <p>
      <h2><%= @product.name.capitalize %></h2>
    </p>
  </div>

  <div class="col-md-6 col-md-offset-1 col-sm-12">
    <p>
      <strong>Description:</strong>
      <%= @product.description.capitalize %>
    </p>
  </div>

  <div class="col-md-6 col-md-offset-1 col-sm-12">
    <p>
      <strong>Price:</strong>
      $<%= @product.formatted_price %>
    </p>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <% @product.images.each do |image| %>
    <img style="max-width:200px; max-height:200px" src= "<%=image.url %>"/>
    <% end%>
  </div>

  <div class="col-md-6 col-md-offset-1 col-sm-12">
    <h3>Reviews <i class="fa fa-comments-o"></i></h3>

    <% @product.reviews.each do |review| %>
    <p>
      <%=review.comment %>
      <br>
      Added on: <%= review.created_at %>
    </p>
    <% end %>
  </div>



  <div class="col-md-6 col-md-offset-1 col-sm-12 col-sm-5">
    <h3>New Review</h3>
    <%= render 'reviews/form' %>
  </div>
</div>

<div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
  <%= link_to 'Back', products_path, class: "btn btn-default" %>
</div>
