<%= form_for(@image) do |f| %>
<% if @image.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

  <ul>
    <% @image.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</div>

​<% if @product.nil? %>
<div class="field">
  <%= f.label :product_id %><br>
  <%= f.text_field :product_id %> </div>
  <% else %>
  <%= f.label :product_id %><br>
  <%= f.text_field :product_id, disabled: true, value: @product.id
  %>
  <% end %>

<<<<<<< HEAD
   <div class="form-group col-md-6">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control col-md-12" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id, class: "form-control col-md-12" %>
  </div>
  
  <div class="actions col-md-12 col-sm-12 col-xs-12">
    <%= f.submit %>
    <input class="btn btn-default" type="submit" name="commit" value="Create Image">
  </div>
  <% end %>
