<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>Congo</title>

</head>
<body>


  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="header container">
    <div class="site">
      <h2 class = "title"><i class="fa fa-shopping-cart"> CONGO</i></h2>
    </div>
    <div class="user">
      <% if user_signed_in? %>
      <p class="info"> Logged in as <%= current_user.email %></p>

      <p class="info"><%= link_to 'Edit profile', edit_user_registration_path %></p>
      <p class="info"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>

      <% else %>

      <p class="info"><%= link_to 'Sign up', new_user_registration_path %></p>
      <p class="info"><%= link_to 'Login', new_user_session_path %></p>

      <% end %>
    </div>
  </div>


  <%= yield %>

</body>

<!-- <ul class="nav">
<li class="active"><a href="/ideas">Ideas</a></li>
</ul> -->


</html>
