<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

  <title>Congo</title>

</head>
<body>


  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<header class="header">
  <h2 class = "title"><i class="fa fa-shopping-cart"> CONGO</i></h2>
  </header>


<%= yield %>

</body>

  <!-- <ul class="nav">
    <li class="active"><a href="/ideas">Ideas</a></li>
  </ul> -->

  <div class= "">
  <% if user_signed_in? %>
  <p> Logged in as <strong><%= current_user.email %></strong>.</p>
  <ul>
  <li class= "bottom"> <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-default" %></li>
  <li class= "bottom"> <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-default" %> </li>
  </ul>
  <% else %>
  <ul>
  <li class= "bottom"> <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default" %></li>
  <li class= "bottom"> <%= link_to 'Login', new_user_session_path, class: "btn btn-default" %></li>
  </ul>
  <% end %>
</div>
</html>
